<img src="http://i.imgur.com/t38JG7p.png" alt="..." class="img-rounded marinette">



<div class="header"><h1> Hello Marinette, where do you want to go?</h1>

<%= form_for(@localisation) do |t| %>
  <%= t.label " " %>
  <%= t.text_field :place %>

 
 <span id= "bouton">
<%= t.submit "Submit"  %> 
</span>

</section>
<% end %>
</div>
