body {
	background-image: url("plage.jpg");
	 background-size: cover;

}

#map {
	height: 300px;
	width: 800px;
}

.map {
	margin: 0 auto;
}

.header {
	text-align: center;
	margin-top: 350px;


}

.header_new{
	text-align: center;
	margin-top: 250px;


}

#localisation_place {
	width: 80%;
	height : 50px;
}

span input {
	height : 50px;
	width: 70px;
	display : inline;
	
}


.marinette {
	border-radius:500px;
	margin-left: 35%;
	position: absolute;
	top: 20px;
}


.marinette2 {
	border-radius:500px;
	margin-left: 43%;
	position: absolute;
	top: 20px;
	width: 220px;
	height: 200px;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
